version: "3"
services:
  db:
    image: postgres:11
    container_name: pgsql11
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data/pgdata
    ports:
      - 5432:5432/tcp
    environment:
      - POSTGRES_DB={{ database.POSTGRES_DB }}
      - POSTGRES_PASSWORD={{ database.POSTGRES_PASSWORD }}
      - POSTGRES_USER={{ database.POSTGRES_USER }}
      - PGDATA={{ database.PGDATA }}
      - POSTGRES_EXTRA_OPTS= '--schema=public --blobs'

volumes:
  db-data:
    driver: local

networks:
  backend:  
    name: backend

