version: '3'
services:
  {{ odoo.service_name }}:
  {%- if env == 'DEV' or env == 'QA' or env == 'PROD' %}  
    image: registry.ccu.cl/odoo:ccu_pos-$SHA
  {%- else %}
    build: .
  {%- endif %}    
    container_name: {{ odoo.container_name }}
    user: root
    ports:
      - 8070:8069
      {%- if debug %}
      - 8888:3001
      {%- endif %}
    networks:
      - odoo-pos
      - proxy
    entrypoint: ['/entrypoint.sh', 'odoo', '-d', '{{ database.POSTGRES_DB }}', '-i', 'base']
    volumes:
      - ../filestore:{{ odoo.data_dir }}
      - ./logs:/var/log/odoo
    {%- if env != 'DEV' and env != 'QA' and env != 'PROD' %}
      - ./config:/etc/odoo
      - ./src/custom-addons:/mnt/extra-addons/custom-addons
    {%- endif %}
      # - "traefik.http.routers.{{ odoo.service_name }}.middlewares=gzip,sslheader,limit"
      # - "traefik.http.middlewares.gzip.compress=true"
      # - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      # - "traefik.http.middlewares.limit.buffering.memRequestBodyBytes=20971520"
      # - "traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=20971520"

  {%- if env == 'DEV' or env == 'QA' or env == 'PROD' %}     
  {{ nginx.service_name }}:     
    container_name: {{ nginx.container_name }}
    restart: unless-stopped
    image: nginx:latest
    networks:
      - odoo-pos
    ports:
      - 8081:80
      - 8443:443
    volumes:
      - ./nginx/nginx-config/nginx_template.conf:{{ nginx.path_config }}
      - ./nginx/ssl/private.key:{{ nginx.path_ssl_certificate_key }}
      - ./nginx/ssl/public.cer:{{ nginx.path_ssl_certificate }}
  {%- endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ nginx.service_name }}.entrypoints=websecure"
      - "traefik.http.routers.{{ nginx.service_name }}.service={{ nginx.service_name }}"
      - "traefik.http.services.{{ nginx.service_name }}.loadbalancer.server.port=443"
      - "traefik.http.services.{{ nginx.service_name }}.loadbalancer.server.scheme=https"      
      - "traefik.http.routers.{{ nginx.service_name }}.rule=Host(`pos.ccu.cl`)"
      #- "traefik.http.middlewares.odooHeader.headers.customrequestheaders.X-Forwarded-Host=pos.ccu.cl"                  

networks:
  odoo-pos:
    external: true   
  proxy:
    external: true      
