// out: ../css/customer_facing_display.css, sourcemap: false, compress: false

// =========== Variables ===========
$color-gray-lighter: #f6f6f6;
$color-gray-dark: #3E3E3E;

// =========== Animations ===========
@keyframes item_in {
    0%   { opacity: 0; margin-top: -30px; }
    50%  { margin-top: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes item_in {
    0%   { opacity: 0; margin-top: -30px; }
    50%  { margin-top: 0; }
    100% { opacity: 1; }
}

// =========== MIXINS ===========
@mixin pos-bg {
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;

    &[style*="url(http://placehold.it"] {
        // Add a bg-color in case we are using a pleceholder.
        // This will help the user to identify the right image dimension
        // before apply customizations.
        background-color: #ccc;
    }
}

// =========== VENDOR PREFIX ===========
@mixin flex-display {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    -o-flex-direction: $direction;
    flex-direction: $direction;
};
@mixin flex-grow($grow) {
    -webkit-box-flex: $grow;
    -webkit-flex-grow: $grow;
    -moz-box-flex: $grow;
    -ms-flex-positive: $grow;
    flex-grow: $grow;
}
@mixin flex($flex) {
    -webkit-box-flex: $flex;
    -webkit-flex: $flex;
    -moz-box-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}
@mixin align-items($align) {
    -webkit-box-align: $align;
    -webkit-align-items: $align;
    -moz-box-align: $align;
    -ms-flex-align: $align;
    -ms-grid-row-align: $align;
    align-items: $align;
};
@mixin justify-content($justify) {
    -webkit-box-pack: $justify;
    -webkit-justify-content: $justify;
    -moz-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;
}
@mixin flex-wrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}


// =========== MAIN LAYOUT ===========
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    font-smooth: always;

    .paymentline .save-button {
      margin-left: 10px;
      margin-right: 10px;
    }
}

