[options]
admin_passwd = {{ odoo.admin_password }}
addons_path = {{ odoo.addons_path }}
db_host = {{ database.container_name }}
db_maxconn = {{ odoo.db_maxconn }}
db_name = {{ database.POSTGRES_DB }}
db_port = {{ database.POSTGRES_DB_PORT }} 
db_user = {{ database.POSTGRES_USER }}
db_password = {{ database.POSTGRES_PASSWORD }}
dbfilter = ^DEV$
log_level = info
log_handler = odoo.addons.queue_job:DEBUG, odoo.addons.ccu_connector_esb_inventory_out:DEBUG, odoo.addons.connector:DEBUG, requests.exceptions:DEBUG
logfile = {{ odoo.logs_path }}
max_cron_threads = {{ odoo.max_cron_threads }}
proxy_mode = {{odoo.proxy_mode}}
workers={{ odoo.worker }}
limit_time_cpu = 3600
limit_time_real = 3600
data_dir = {{ odoo.data_dir }}
server_wide_modules = web,queue_job

[queue_job]
channels = root:3
#scheme = https
#host = load-balancer
#port = 443
#http_auth_user = jobrunner
#http_auth_password = s3cr3t
#jobrunner_db_host = localhost
#jobrunner_db_port = 5432

[base_rest]
dev_mode=True

