[options]
admin_passwd = {{ odoo.admin_password }}
addons_path = {{ odoo.addons_path }}
db_host = {{ database.container_name }}
db_maxconn = {{ odoo.db_maxconn }}
db_name = {{ database.POSTGRES_DB }}
db_port = {{ database.POSTGRES_DB_PORT }} 
db_user = {{ database.POSTGRES_USER }}
db_password = {{ database.POSTGRES_PASSWORD }}
dbfilter = ^DEV$
log_level = info
logfile = {{ odoo.logs_path }}
max_cron_threads = {{ odoo.max_cron_threads }}
proxy_mode = True
workers={{ odoo.worker }}
limit_time_cpu = 3600
limit_time_real = 3600
data_dir = {{ odoo.data_dir }}
proxy_mode = {{odoo.proxy_mode}}
