[options]
admin_passwd = {{ odoo.admin_password }}.
addons_path = {{ odoo.addons_path }}
db_host = {{ database.service_name }}
db_maxconn = 6
db_name = {{ database.POSTGRES_DB }}
db_port = 5432
db_user = {{ database.POSTGRES_USER }}
db_password = {{ database.POSTGRES_PASSWORD }}
dbfilter = ^DEV$
log_level = info
logfile = {{ odoo.logs_path }}
max_cron_threads = 2
proxy_mode = True
workers=13
limit_time_cpu = 3600
limit_time_real = 3600
