

// =========== MAIN LAYOUT ===========
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    font-smooth: always;

    .paymentline .save-button {
      margin-left: 10px;
      margin-right: 10px;
    }
}

